<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap id="boardResultSet" type="board">
		<result column="BOARD_NO" property="boardNo"></result>
		<result column="BOARD_TITLE" property="boardTitle"></result>
		<result column="BOARD_CONTENT" property="boardContent"></result>
		<result column="VIEWS" property="views"></result>
		<result column="ENROLL_DATE" property="enrollDate"></result>
		<result column="MODIFY_DATE" property="modifyDate"></result>
		<result column="STATUS" property="status"></result>
		<result column="USER_NO" property="userNo"></result>
		<result column="MATCH_NO" property="matchNo"></result>
		<result column="ORIGIN_NAME" property="originName"></result>
		<result column="CHANGE_NAME" property="changeName"></result>
		<result column="MBTI_NICK" property="mbtiNick"></result>
	</resultMap>
	
	<resultMap id="boardImgResultSet" type="boardImg">
		<result column="IMG_NO" property="imgNo"></result>
		<result column="ORIGIN_NAME" property="originName"></result>
		<result column="CHANGE_NAME" property="changeName"></result>
		<result column="THUMBNAIL" property="thumbnail"></result>
		<result column="BOARD_NO" property="boardNo"></result>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD
		 WHERE STATUS = 'Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT B.BOARD_NO
		     , B.BOARD_TITLE
		     , B.USER_NO
		     , M.MBTI_NICK
		     , TO_CHAR(B.ENROLL_DATE, 'YYYY-MM-DD') AS "B.ENROLL_DATE"
			 , BI.ORIGIN_NAME
			 , BI.CHANGE_NAME
		  FROM BOARD B, BOARDIMG BI, MEMBER M
         WHERE B.BOARD_NO = BI.BOARD_NO (+)
           AND B.USER_NO = M.USER_NO (+)
		   AND B.STATUS = 'Y'
		   AND BI.THUMBNAIL = 'Y'
		 ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectTopBoardList" resultMap="boardResultSet">
		SELECT ROWNUM, B.* 
		  FROM (SELECT BO.BOARD_NO
		             , BO.BOARD_TITLE
		             , BO.USER_NO
		             , M.MBTI_NICK
		             , TO_CHAR(BO.ENROLL_DATE, 'YYYY-MM-DD') AS "BO.ENROLL_DATE"
		             , BI.ORIGIN_NAME
		             , BI.CHANGE_NAME
		          FROM BOARD BO, BOARDIMG BI, MEMBER M
		         WHERE BO.BOARD_NO = BI.BOARD_NO (+)
		           AND BO.USER_NO = M.USER_NO (+)
		           AND BO.STATUS = 'Y'
		           AND BI.THUMBNAIL = 'Y'
		         ORDER BY VIEWS DESC) B
		 WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(BOARD_NO
		                , BOARD_TITLE
		                , USER_NO
		                , BOARD_CONTENT)
		           VALUES(BNO_SEQ.NEXTVAL
		                , #{boardTitle}
		                , #{userNo}
		                , #{boardContent})
	</insert>
	
	<insert id="insertBoardImg" parameterType="boardImg">
		INSERT INTO BOARDIMG(IMG_NO
							 , ORIGIN_NAME
							 , CHANGE_NAME
							 , THUMBNAIL
							 , BOARD_NO)
						VALUES(BMG_SEQ.NEXTVAL
							 , #{originName}
							 , #{changeName}
							 , #{thumbnail}
							 , BNO_SEQ.CURRVAL)
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		   SET VIEWS = VIEWS + 1
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT B.BOARD_NO
		     , B.BOARD_TITLE
		     , B.BOARD_CONTENT
		     , B.VIEWS
		     , TO_CHAR(B.ENROLL_DATE, 'YYYY-MM-DD') AS "ENROLL_DATE"
		     , TO_CHAR(B.MODIFY_DATE, 'YYYY-MM-DD') AS "MODIFY_DATE"
		     , B.STATUS
		     , B.USER_NO
		     , B.MATCH_NO
		     , M.MBTI_NICK
		  FROM BOARD B, MEMBER M
		 WHERE B.USER_NO = M.USER_NO (+)
		   AND B.BOARD_NO = #{boardNo}
		   AND B.STATUS = 'Y'
	</select>

	<select id="selectBoardImg" parameterType="_int" resultMap="boardImgResultSet">
		SELECT IMG_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , THUMBNAIL
		     , BOARD_NO
		  FROM BOARDIMG
		 WHERE BOARD_NO = #{boardNo}
	</select>

	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		   SET STATUS = 'N'
		 WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectSearchListCount" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		  FROM BOARD B, MEMBER M
		 WHERE B.USER_NO = M.USER_NO
		   AND B.STATUS = 'Y'
		   AND ${condition} LIKE '%' || #{keyword} || '%'
	</select>

	<select id="selectSearchList" parameterType="hashmap" resultMap="boardResultSet">
		SELECT B.BOARD_NO
		     , B.BOARD_TITLE
		     , B.USER_NO
		     , M.MBTI_NICK
		     , TO_CHAR(B.ENROLL_DATE, 'YYYY-MM-DD') AS "B.ENROLL_DATE"
			 , BI.ORIGIN_NAME
			 , BI.CHANGE_NAME
		  FROM BOARD B, BOARDIMG BI, MEMBER M
         WHERE B.USER_NO = M.USER_NO (+)
           AND B.BOARD_NO = BI.BOARD_NO (+)
		   AND B.STATUS = 'Y'
		   AND BI.THUMBNAIL = 'Y'
		   AND ${condition} LIKE '%' || #{keyword} || '%'
		 ORDER BY BOARD_NO DESC
	</select>

</mapper>
