<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

	<resultMap id="chattingResultSet" type="chatting">
 		<result column="CHAT_NO"  			property="chatNo"></result>
		<result column="ROOM_NO"  			property="roomNo"></result>
		<result column="MESSAGE"  			property="message"></result>
		<result column="SEND_TIME"  		property="sendTime"></result>
		<result column="USER_NO"  		property="userNo"></result>
	</resultMap>
	
	<select id="chattingList" resultMap="chattingResultSet" parameterType="_int">
		SELECT chat_no, room_no, message, send_time, user_no
		  from chat 
		 where room_no = #{matchRoomNo}
	</select>
	
	<insert id="sendChatting" parameterType="chatting">
		insert into chat values(CNO_SEQ.nextval,
								#{roomNo}, 
								#{message},
								#{userNo} ,
								default)
	</insert>
</mapper>
