<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="kakaoPayMapper">

 <resultMap id="kakaoPayResultSet" type="kakaoPay">
 	<result column="PARTNER_ORDER_ID"  	property="partnerOrderId"></result>
 	<result column="TID"  				property="tid"></result>
 	<result column="CID"  				property="cid"></result>
 	<result column="PARTNER_USER_ID" 	property="partnerUserId"></result>
 	<result column="ITEM_NAME"  		property="itemName"></result>
 	<result column="PAY_METHOD"  		property="payMethod"></result>
 	<result column="QUANTITY"  			property="quantity"></result>
 	<result column="ORDER_DATE" 	 	property="orderDate"></result>
 	<result column="REFUND_DATE"  		property="refundDate"></result>
 	<result column="TOTAL_AMOUNT"  		property="totalAmount"></result>
 	<result column="TAX_FREE_AMOUNT"  	property="taxFreeAmount"></result>
 </resultMap>
 
 <insert id="insertPay" parameterType="string">
 	INSERT INTO KAKAOPAY (PARTNER_ORDER_ID,PARTNER_USER_ID)
 	 	 VALUES (ORD_SEQ.NEXTVAL,
 	 	 		 #{email})
 </insert>
 
 <select id="getPartnerOrder" parameterType="string" resultType="_int">
 	SELECT PARTNER_ORDER_ID
 	  FROM (
 	  	SELECT PARTNER_ORDER_ID
 	  	  FROM KAKAOPAY
 	 	 WHERE PARTNER_USER_ID = #{email}
 	 	 ORDER BY PARTNER_ORDER_ID DESC)
 	 WHERE ROWNUM = 1
 </select>


</mapper>