<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

 <resultMap id="memberResultSet" type="member">
 	<result column="USER_NO"  		property="userNo"></result>
 	<result column="EMAIL"  		property="email"></result>
 	<result column="USER_PWD"  		property="userPwd"></result>
 	<result column="PROFILE_IMG" 	property="profileImg"></result>
 	<result column="USER_NAME"  	property="userName"></result>
 	<result column="AGE"  			property="age"></result>
 	<result column="GENDER"  		property="gender"></result>
 	<result column="PHONE" 		 	property="phone"></result>
 	<result column="MBTI"  			property="mbti"></result>
 	<result column="MBTI_NICK"  	property="mbtiNick"></result>
 	<result column="INTRODUCE"  	property="introduce"></result>
 	<result column="ENROLL_DATE"  	property="enrollDate"></result>
 	<result column="MODIFY_DATE"  	property="modifyDate"></result>
 	<result column="MATCH_STAT"  	property="matchStat"></result>
 	<result column="MATCH_COIN"  	property="matchCoin"></result>
 	<result column="STATUS"  		property="status"></result>
 	<result column="ROOM_NO" 	 	property="number"></result>
 </resultMap>
 

	<select id="loginMember" resultMap="memberResultSet" parameterType="member">
	  SELECT *
	  	FROM MEMBER 
	   WHERE EMAIL  	= #{email}
	  	 AND STATUS 	= 'Y'
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (USER_NO, EMAIL, USER_PWD, USER_NAME, AGE, GENDER, PHONE)
           	 VALUES (UNO_SEQ.NEXTVAL,
           	 		 #{email},
           	 		 #{userPwd},
           	 		 #{userName},
           	 		 #{age},
           	 		 #{gender},
           	 		 #{phone})	
	</insert>
</mapper>