<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_NAME" property="noticeName" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="VIEWS" property="views" />
		<result column="STATUS" property="status" />	
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM NOTICE
		 WHERE STATUS = 'Y'
	</select>
	<select id="selectList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_NAME
		     , VIEWS
		     , TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD HH-mm-ss' ) AS ENROLL_DATE
		  FROM NOTICE
		 WHERE STATUS = 'Y'
		 ORDER BY NOTICE_NO DESC 
	</select>

</mapper>