<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		 <setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- vo 클래스 추가 시 등록해 주세요! -->
	<typeAliases>
		<typeAlias type="com.kh.mbting.board.model.vo.Board" alias="board"/>	
		<typeAlias type="com.kh.mbting.member.model.vo.Member" alias="member"/>	
		<typeAlias type="com.kh.mbting.notice.model.vo.Notice" alias="notice"/>	
	</typeAliases>
	
	<!-- 메퍼 파일 추가 시 등록해 주세요! -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/chatting-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
	</mappers>
  
</configuration>